#persona select {
    line-height: 0.5;
    width: 175px;
    height: 25px;
    margin-top: 1rem;
    font-size: 15px;
    color: #ede7e7;
}

#persona {
    gap: 3rem;
    justify-content: space-around;
    justify-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#persona Button {
    margin: 2rem auto;
}

#persona h2 {
       font-size: 28px;
       color: #ffffff;
   }

#persona p {
    font-size: 20px;
    color: #ffffff;
}
