#homeBanner h1 {
    font-size: 32px;
    color: #ffffff;
}

#homeBanner h2 {
    font-size: 16px;
    color: #ffffff;
}

#homeBanner p {
    padding-top: 0.5rem;
    color: #ffffff;
}

#homeBanner {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding-top: 3rem;
    padding-left: 1rem;
    align-items: center;
}

#homeBanner img {
    margin-top: 2rem;
}

#homeBanner .compendium {
    padding-top: 5px;
}

#homeBanner .content {
    width: 30rem;
}

#homeBanner a {
    text-decoration: none;

}

